.site-header {
    display: flex;
}

.headerLogo {
    margin: 0.25rem;
}


.headerPrincipal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.headerTop {
    border-bottom: #000 1px solid;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.botones {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

button {
    gap: 3.875rem;
    margin-right: 20px;
    border-color: transparent;
    background-color: transparent;
}


.headerBotton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonUser{
    --ng-icon__size: 1.5em !important;
    margin-right: 20px;
    justify-content: flex-end;
}
.botonLupa{
    --ng-icon__size: 1.5em !important;
}