<header>
    <div class="site-header">
        <div class="headerLogo">
            <img src="../../assets/images/LogoNextEvent.png" width="80px" height="60px">
        </div>
        <div class="headerPrincipal">
            <div class="headerTop">
                <div class="botones">
                    <button>Inicio</button>
                    <button>Agenda</button>
                    <button>Patrocinate</button>
                    <button>Soporte</button>
                </div>
            </div>
            <div class="headerBotton">
                <ng-icon class="botonLupa" name="heroMagnifyingGlass"></ng-icon>
                <ng-icon class="botonUser" name="heroUser"></ng-icon>
                
            </div>
        </div>
    </div>
</header>