<header>
    <div class="site-header">
        <div class="headerLogo">
            <img src="../../assets/images/LogoNextEvent.png" width="80px" height="60px">
        </div>
        <div class="headerPrincipal">
            <div class="headerTop">
                <nav class="navbar navbar-expand-sm bg-light">
                    <ul class="botones">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="calendario">Calendario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="patrocinate">Patrocinate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="soporte">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="headerBotton">
                <ng-icon class="botonLupa" name="heroMagnifyingGlass"></ng-icon>
                <ng-icon class="botonUser" name="heroUser"></ng-icon>

            </div>
        </div>
    </div>
</header>