.site-header {
    background-color: #F0F0F0;
    display: flex;
}

.headerLogo {
    margin: 0.25rem;
}


.headerPrincipal {
    width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.headerTop {
    border-bottom: #000 1px solid;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.botones {
    background-color: antiquewhite;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

button {
    gap: 3.875rem;
    margin-right: 20px;
    border-color: transparent;
    background-color: transparent;
}

.headerBotton {
    width: 100%;
}