<footer class="footer">
    <div class="logo">
        <img src="../../assets/images/LogoNextEvent.png">
    </div>
  
    <div class="footer_secciones">
        <div class="footer_grid">
            <ul class="footer_menu">
                <li>
                    <a href="">Inicio</a>
                </li>
                <li>
                    <a href="calendario">Calendario</a>
                </li>
            </ul>
            <ul class="footer_menu">
                <li>
                    <a href="patrocinate">Patrocinate</a>
                </li>
                <li>
                    <a href="soporte">Soporte</a>
                </li>
            </ul>
        </div>
        
    </div>
    <hr class="hr-colorado"> 
    
    <div class="redes">
        <ul class="footer_menu">
            <li>
                <a href="https://github.com/iagogutierrez">
                    <img src="../../assets/images/github.png">
                    <p>Git Hub</p>
                </a>
            </li>
        </ul>
        <ul class="footer_menu">
            <li>
                <a href="https://es.linkedin.com/in/iago-guti%C3%A9rrez-robles-272b37257">
                    <img src="../../assets/images/linkedin.png">
                    <p>Linkedin</p>
                </a>
            </li>
        </ul>
    </div>
  </footer>
  