.bodyPatrocinate {
    display: grid;
    columns: 2;
    grid-row: auto;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    padding: 10px;
}

form .mat-raised-button {
    margin-right: 8px;
}

formly-form {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
    color: currentColor;
}