<body class="bodyPatrocinate">
    <div class="informacion">
        <span class="titulo_informativo" > ¡¡Patrocina tu evento!! </span>
        <p class="texto_infomativo" style="font-weight: bold;">¿Quieres que tu evento aparezca en nuestro calendario?</p>
        <p class="texto_infomativo">
            Deberás de rellenar nuestro formulario y esperar un respuesta de nuestra administración. 
            Seguidamente podras ver tu evento en nuestro calendario.
            Recuerda dar toda la información posible, de este modo nadie llegara tarde.
            ¡¡¡Muchas gracias!!!!
        </p>
    </div>
    <div class="formulario">
        <mat-form-field [floatLabel]="getFloatLabelValue()">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Simple placeholder" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        <mat-form-field>
            <mat-label></mat-label>
            <input matInput required>
        </mat-form-field>
    </div>
    <!--
    
    <ng-container class="ng-container">
        
        <div class="registration-form">
            <h2>Registration Form</h2>
            <form (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                    <label for="firstName">Usario</label>
                    <input type="text" id="firstName" formControlName="firstName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Apellidos</label>
                    <input type="text" id="lastName" formControlName="lastName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="company">Compañia</label>
                    <input type="text" id="company" formControlName="company" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="company">Nombre del Evento</label>
                    <input type="text" id="company" formControlName="company" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="day">Día del Evento</label>
                    <input type="date" id="day" formControlName="day" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="time">Hora comienzo del Evento</label>
                    <input type="time" id="time" formControlName="time" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="duration">Duración</label>
                    <input type="text" id="duration" formControlName="duration" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="website">Página Web</label>
                    <input type="url" id="website" formControlName="website" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </ng-container>-->
</body>